.fish {
  border : 1px solid #eee;
  margin : 1rem 0;
  padding : 1rem;
}

@media (min-width: 800px) {
  .fish {
    margin : 0 1rem;
    width : 33.3333%;
  }
}

.fish-title {
  font-size : 13px;
}




